
@{
    ViewData["Title"] = "Index";
}
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-12 ">
            <ul class="nav nav-tabs">
                <li class="active"><a asp-action="Mondactrung" asp-controller="KhachHang">Món Đặc trưng</a></li>
                <li class="active"><a asp-action="Monkhaivi" asp-controller="KhachHang">Món Khai Vị</a></li>
                <li class="active"><a asp-action="Monchinh" asp-controller="KhachHang">Món Chính</a></li>
                <li class="active"><a asp-action="Montrangmieng" asp-controller="KhachHang">Món Tráng miệng</a></li>
               
                


            </ul>
        </div>

    </div>
</div>

